@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Sstem"] = "Guest Management System";
    ViewData["Title"] = "Home - Guest Management System";
    ViewData["Controller"] = "Guest";
}


<h2>Welcome to Guest Management System</h2>