@model HotelManagementSystem.Data.Reservations.ReservationModel

@{
    ViewData["Sstem"] = "Reservation Management System";
    ViewData["Controller"] = "Reservation";
    ViewData["Title"] = "Update - Reservation Management System";
    var list = new List<SelectListItem> { new SelectListItem { Text = "BedReservation", Value = "BedReservation" }, new SelectListItem { Text = "Hall", Value = "Hall" } };
}

<h1>Update Reservation Details</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
            <div class="alert-success">@ViewBag.SuccessMsg</div>
            <div class="alert-danger">@ViewBag.ErrorMsg</div>

        <form asp-controller="Reservation" asp-action="UpdateCheck" method="post">
            <div class="form-group">
                <label name="number" class="control-label"></label>
                <input type="number" name="number" class="form-control" value="@{
                    if(Model != null)
                            @Model.Number
                    }" 
        required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
        @if(Model != null){
            <form asp-action="UpdateReservation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Reservation.GuestMemberCode" class="control-label"></label>
                    <input asp-for="Reservation.GuestMemberCode" class="form-control" />
                    <span asp-validation-for="Reservation.GuestMemberCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.RoomNumber" class="control-label"></label>
                    <input asp-for="Reservation.RoomNumber" class="form-control" />
                    <span asp-validation-for="Reservation.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.NumberOfAdults" class="control-label"></label>
                    <input asp-for="Reservation.NumberOfAdults" class="form-control" />
                    <span asp-validation-for="Reservation.NumberOfAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.NumberOfChild" class="control-label"></label>
                    <input asp-for="Reservation.NumberOfChild" class="form-control" />
                    <span asp-validation-for="Reservation.NumberOfChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.CheckIn" class="control-label"></label>
                    <input asp-for="Reservation.CheckIn" class="form-control" />
                    <span asp-validation-for="Reservation.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.CheckOut" class="control-label"></label>
                <input asp-for="Reservation.CheckOut" class="form-control" />
                <span asp-validation-for="Reservation.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.NumberOfNight" class="control-label"></label>
                <input asp-for="Reservation.NumberOfNight" class="form-control" />
                <span asp-validation-for="Reservation.NumberOfNight" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    


        }
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
